<form class="container-fluid" role="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <h4>Welcome to *SiteName*</h4>
  <h6>Please enter your credentials to sign in</h6>
  <div class="form-group">
    <mat-form-field class="form-element">
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
        This field is required!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
        This field is required!
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-button color="primary" type="submit" class="form-control" [disabled]="loginForm.invalid">Sign in</button>
  <div class="form-group">
      <mat-error class="formError" *ngIf="(loginForm.get('username').touched && loginForm.get('password').touched && loginForm.invalid) || staticBadLogin">
          Please enter valid credentials!
      </mat-error>
  </div>
</form>