:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.breadcrumb-category-container {
  margin: 10px 0;
}

.breadcrumb-category {
  font-weight: 200;
  padding: 0 2.5px;
  cursor: pointer;
}

.container {
  width: 1280px;
  max-width: 100%;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 150px;
  cursor: pointer;
}

.cart-increment,
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
}

button ::ng-deep mat-icon {
  font-size: 16px;
  color: #dc3545;
  display: inline;
  font-weight: bold;
}

.code {
  color: #6c757d;
  font-weight: 200;
  font-size: 15px;
}

.name {
  font-size: 20px;
  max-width: 35%;
  cursor: pointer;
}

.amount {
  font-size: 19px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 25px 15px;
  margin: 25px 0;
}

.button-container {
  display: flex;
}

.button-container button {
  margin-right: 15px;
  font-size: 22px;
  padding: 10px 25px;
  font-weight: 200;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.total {
  font-size: 18px;
  padding: 10px 25px;
  font-weight: bold;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total span {
  font-weight: 200;
  margin-right: 15px;
}

.button-container .emphasize {
  background-color: #1f671f;
  color: #fff;
}
