<div class="container">
  <div class="row">
    <div class="col-12 breadcrumb-category-container">
      <span class="breadcrumb-category" [routerLink]="['/home']">
        {{language.home}}
      </span>
      <span class="breadcrumb-category">
        >
      </span>
      <span class="breadcrumb-category">
        {{language.cart}}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="cart-title">
        {{language.cart}}
      </h3>
    </div>
  </div>
  <div class="row" *ngFor="let product of products">
    <div class="col-md-2">
      <img class="img-fluid cart-img"
           *ngIf="product && product.images.length > 0"
           src="{{product.images[0]}}"
           [routerLink]="['/product', product?.code]"/>
      <img class="img-fluid cart-img"
           *ngIf="product && product.images.length === 0"
           src="assets/no-image-icon-23483.png"
           [routerLink]="['/product', product?.code]"/>
    </div>
    <div class="col-md-10 cart-container">
      <div class="name" [routerLink]="['/product', product?.code]">
        <strong>
          {{isSerbian ? product.nameSr : product.name}}
        </strong>
        <br/>
        <span class="code">
          {{language.code}}: {{product.code}}
        </span>
      </div>
      <br>
      <div class="cart-increment">
        {{language.quantity}}
        <br/>
        <br/>
        <app-input-increment [count]="product.orderQuantity"
                             [large]="true"
                             (incrementChange)="incrementChange($event, product)"></app-input-increment>
      </div>
      <div class="price">
        {{language.price}}
        <br/>
        <br/>
        <span class="amount">
          {{isSerbian ? product.amountDin : product.amountEuro | number : '1.2-2'}} {{language.currency}}
        </span>
      </div>
      <div class="price">
        {{language.priceAmount}}
        <br/>
        <br/>
        <span class="amount">
          {{isSerbian ? product.amountDin * product.orderQuantity : product.amountEuro * product.orderQuantity | number : '1.2-2'}} {{language.currency}}
        </span>
      </div>
      <div class="cart-increment">
        <button mat-button color="secondary" (click)="removeFromCart(product)">
          {{language.delete}}
          <mat-icon aria-hidden="false" aria-label="Delete">
            clear
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 checkout">
      <div class="button-container">
        <button [routerLink]="['/home']" mat-button color="primary">
          {{language.home}}
        </button>
        <button (click)="order()" mat-button color="primary" class="emphasize">
          {{language.order}}
        </button>
      </div>
      <div class="total">
        <div>
          <span>
            {{language.total}}:
          </span>
          {{ total | number : '1.2-2' }} {{ language.currency }}
        </div>
        <div>
          <span>
            {{language.totalRebate}}:
          </span>
          {{ totalRebate | number : '1.2-2' }} {{ language.currency }}
        </div>
      </div>
    </div>
  </div>
</div>
