:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 60px 0;

  .no-item-icon {
    border-radius: 50%;
    background-color: #459544;
    color: #fff;
    padding: 20px;
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 60px;
      height: auto;
      width: auto;
    }
  }

  .no-item-title {
    font-weight: normal;
    margin: 20px 0;
  }

  .no-item-paragraph {
    font-weight: 200;
    margin-bottom: 10px;
  }
}
