<app-navigation #navigation></app-navigation>
<div *ngIf="product == undefined;else show" class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>
<ng-template #show>
    <div class="container-fluid body-container">
        <div class="row">
            <div class="offset-lg-3 col-lg-9 picture-container" style="margin-top: 30px;">
                <div class="col-lg-9">
                    <div class="card mt-4">
                        <div *ngIf="images">
                                <ngb-carousel>
                                    <ng-template ngbSlide *ngFor="let image of images">
                                        <div class="picsum-img-wrapper">
                                            <img class="card-img-top img-fluid" [src]="image">
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{product.name}}</h3>
                            <p class="amount-selected">{{product.amountDin}}Din</p>
                            <p class="amount-selected">{{product.amountEuro}}€</p>
                            <p class="card-text">{{product.description}}</p>
                            <button *ngIf="!addedToCart" (click)="addToCart()" style="width: 100%;" mat-raised-button color="primary">Add to cart</button>
                            <button *ngIf="addedToCart" disabled style="width: 100%;" mat-raised-button color="primary">Product added to the cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>