:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order {
  color: #dc3545;
}

.seen {
  color: #1f671f;
}

mat-icon {
  margin: 0 5px;
}


:host ::ng-deep .mat-icon-button,
:host ::ng-deep .mat-date-range-input-inner {
  color: #fff !important;
}

:host ::ng-deep .mat-date-range-input-inner::placeholder {
  color: #fff !important;
}

:host ::ng-deep .mat-input-element {
  border-bottom: 1px solid #fff !important;
}


