:host .header-container {
  background: #459544;
  color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
}

:host .header-container.no-margin {
  margin-bottom: 0;
}

p {
  font-weight: 200;
}

.link-container {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

button {
  background-color: #fff;
  margin-right: 15px;
}
