<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0" *ngFor="let category of categories">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{category.name | uppercase}}</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="table">
      <tr *ngFor="let subcategory of category.subcategories">
        <td>
          <a (click)="onRouteChanged()"
             [routerLink]="['/subcategoryProducts', subcategory.name]">{{subcategory.name | uppercase}}</a>
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
