<mat-accordion style="margin-top:20px;">
  <mat-expansion-panel style="margin-top:20px;" class="mat-elevation-z0" *ngFor="let category of categories">
    <mat-expansion-panel-header style="margin-top:20px;">
      <mat-panel-title style="margin-top:20px;">
        <strong>{{category.name | uppercase}}</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="table">
        <tr *ngFor="let subcategory of category.subcategories">
          <td>
            <a [routerLink]="['/subcategoryProducts', subcategory.name]">{{subcategory.name | uppercase}}</a>
          </td>
        </tr>
      </table>
  </mat-expansion-panel>
</mat-accordion>