<app-navigation></app-navigation>
<form class="container-fluid" role="form" [formGroup]="addProductForm" (submit)="addProduct(addProductForm)">
  <app-title [title]="language.addProduct" [subtitle]="language.addProductDescription"></app-title>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="name">
                {{ language.name }}
              </mat-label>
              <input matInput placeholder="{{language.name}}" formControlName="productName"/>
              <mat-error
                *ngIf="addProductForm.get('productName')?.touched && addProductForm.get('productName')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="code">
                {{ language.code }}
              </mat-label>
              <input matInput placeholder="{{language.code}}" formControlName="code"/>
              <mat-error
                *ngIf="addProductForm.get('code')?.touched && addProductForm.get('code')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="description">
                {{ language.description }}
              </mat-label>
              <input matInput placeholder="{{language.description}}" formControlName="description"/>
              <mat-error
                *ngIf="addProductForm.get('description')?.touched && addProductForm.get('description')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="descriptionSr">
                {{ language.descriptionSr }}
              </mat-label>
              <input matInput placeholder="{{language.descriptionSr}}" formControlName="descriptionSr"/>
              <mat-error
                *ngIf="addProductForm.get('descriptionSr')?.touched && addProductForm.get('descriptionSr')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="amountDin">
                {{ language.amountDin }}
              </mat-label>
              <input type="number" matInput placeholder="{{language.amountDin}}" formControlName="amountDin"/>
              <mat-error
                *ngIf="addProductForm.get('amountDin')?.touched && addProductForm.get('amountDin')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="amountEuro">
                {{ language.amountEuro }}
              </mat-label>
              <input type="number" matInput placeholder="{{language.amountEuro}}" formControlName="amountEuro"/>
              <mat-error
                *ngIf="addProductForm.get('amountEuro')?.touched && addProductForm.get('amountEuro')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="quantity">
                {{ language.quantity }}
              </mat-label>
              <input type="number" matInput placeholder="{{language.quantity}}" formControlName="quantity"/>
              <mat-error
                *ngIf="addProductForm.get('quantity')?.touched && addProductForm.get('quantity')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="form-element">
              <mat-label for="brand">
                {{ language.brand }}
              </mat-label>
              <input type="text" matInput placeholder="{{language.brand}}" formControlName="brand"/>
              <mat-error
                *ngIf="addProductForm.get('brand')?.touched && addProductForm.get('brand')?.hasError('required')">
                {{ language.required }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" *ngIf="selectedSubcategory != undefined">
            <mat-label for="subcategory">
              {{ language.subcategory }}
            </mat-label>
            <mat-radio-group class="subcategory-buttons" name="subcategory">
              <mat-radio-button *ngFor="let subcategory of subcategories" [value]="subcategory"
                                [checked]="selectedSubcategory === subcategory.name"
                                (change)="selectSubcategory(subcategory.name)">
                {{subcategory.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-md-6">
          <button mat-button color="primary" type="submit" class="form-control" [disabled]="addProductForm.invalid">
            {{ language.addProduct }}
          </button>
          <div class="form-group">
            <mat-error class="formError" *ngIf="addProductForm.get('productName')?.touched
              && addProductForm.get('code')?.touched
              && addProductForm.get('description')?.touched
              && addProductForm.get('amountDin')?.touched
              && addProductForm.get('amountEur')?.touched
              && addProductForm.get('quantity')?.touched
              && addProductForm.invalid">
              {{language.errorValidData}}
            </mat-error>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <ngx-dropzone (change)="onSelect($event)" accept="image/jpeg,image/jpg,image/png">
        <ngx-dropzone-label>
          {{ language.dropFiles }}
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview *ngFor="let file of files" [removable]="true" [file]="file"
                                    (removed)="onRemove(file)">
          <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

  </div>
</form>
