<div class="col-12 filter-container">
  <div class="filter-container-items">
    <mat-form-field appearance="fill">
      <mat-label>{{language.enterDateRange}}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate (dateChange)="startDateChanged($event)" placeholder="Start date">
        <input matEndDate (dateChange)="endDateChanged($event)" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field *ngIf="displaySearch">
      <mat-label>{{language.searchOrder}}</mat-label>
      <input matInput type="text" #input="ngModel" [(ngModel)]="searchInput">
      <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{language?.status}}:</mat-label>
      <mat-select (selectionChange)="selectedStatusChange($event)" [(ngModel)]="selectedStatus">
        <mat-option [value]="option.value" *ngFor="let option of status">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{language?.sortBy}}:</mat-label>
      <mat-select (selectionChange)="selectedTypeChange($event)" [(ngModel)]="selectedType">
        <mat-option [value]="option.value" *ngFor="let option of type">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{language?.sortType}}:</mat-label>
      <mat-select (selectionChange)="selectedSortChange($event)" [(ngModel)]="selectedSort">
        <mat-option [value]="option.value" *ngFor="let option of sort">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-paginator #paginator
                   [length]="pagination?.totalElements"
                   [pageSize]="12"
                   [pageSizeOptions]="[12, 24, 36]"
                   (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>
