<app-navigation></app-navigation>
<form style="margin-top: 7%;" class="container-fluid p-0" role="form" (submit)="register()" [formGroup]="registrationForm">
<h4>Registration of the new user</h4>
<h6>Please fill all fields with the information about the user you want to add</h6>
<div class="form-group">
   <mat-form-field class="form-element">
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="registrationForm.get('username')?.touched && registrationForm.get('username')?.hasError('required')">
         This field is required!
      </mat-error>
      <mat-error *ngIf="registrationForm.get('username')?.touched && registrationForm.get('username')?.hasError('email')">
         Enter valid email!
      </mat-error>
   </mat-form-field>
</div>
<div class="form-group">
   <mat-form-field class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.hasError('required')">
         This field is required!
      </mat-error>
   </mat-form-field>
</div>
<div class="form-group">
   <mat-form-field class="form-element">
      <input type="password" matInput placeholder="Enter password again" formControlName="repassword">
      <mat-error *ngIf="registrationForm.get('repassword')?.touched && registrationForm.get('repassword')?.hasError('required')">
         This field is required!
      </mat-error>
      <mat-error *ngIf="registrationForm.get('repassword')?.touched && registrationForm.get('repassword')?.errors?.notEquivalent">
         Passwords do not match!
      </mat-error>
   </mat-form-field>
</div>
<div class="form-group">
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="ROLE_ADMIN">Admin</mat-option>
          <mat-option value="ROLE_USER">User</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button mat-button color="primary" type="submit" class="form-control" [disabled]="registrationForm.invalid">Register</button>
<div class="form-group">
   <mat-error class="formError" *ngIf="registrationForm.get('username')?.touched && registrationForm.get('password')?.touched && registrationForm.get('repassword')?.touched && registrationForm.invalid">
      Please enter valid data!
   </mat-error>
</div>
</form>
