<header class="navigation">
  <div class="nav-content">
    <div class="hamburger-menu" (click)="openSideBar()">
      <mat-icon aria-hidden="false" aria-label="Navigation menu">
        menu
      </mat-icon>
    </div>
    <a [routerLink]="['/home']" class="blog-header-logo text-dark" href="#">
      <img class="img-fluid" src="assets/greenland.jpg"/>
    </a>
  </div>
  <div class="nav-content">
    <div class="cart">
      <div class="dropdown">
        <div style="position:relative;">
          <mat-icon aria-hidden="false" aria-label="Cart">
            shopping_cart
          </mat-icon>
          <span class="cart-number">{{productModel.productsInCart.length}}</span>
        </div>
        <span class="nav-label">
           {{ language.cart }}
        </span>
        <div class="dropdown-content cart-dropdown" *ngIf="productModel.productsInCart.length > 0">
          <div class="cart-title">
            <div class="cart-title-number">
              <mat-icon aria-hidden="false" aria-label="Cart">
                shopping_cart
              </mat-icon>
              <span class="cart-title-text">
                {{productModel.productsInCart.length}}
              </span>
            </div>
            <div class="cart-title-total">
              <span class="total-text">
                  {{language.total}}:
              </span>
              <span class="total-amount">
                {{totalAmount | number : '1.2-2'}} {{ language.currency }}
              </span>
            </div>
          </div>
          <div class="cart-container" *ngFor="let product of productModel.productsInCart;">
            <div *ngIf="product.images && product.images.length > 0; else noImage">
              <img class="card-img-top" src="{{product.images[0]}}"/>
            </div>
            <ng-template #noImage>
              <img class="card-img-top" src="assets/no-image-icon-23483.png"/>
            </ng-template>
            <div class="cart-info">
              <div class="cart-hover-name">
                {{product.name}}
              </div>
              <div class="cart-hover-info">
                <span class="cart-hover-price">
                  {{product.amountDin | number : '1.2-2'}} {{ language.currency }}
                </span>
                <span class="cart-hover-quantity">
                  {{language.quantity}}: {{product.orderQuantity}}
                </span>
                <mat-icon aria-hidden="false" aria-label="Remove from cart" (click)="deleteFromCart(product)">
                  clear
                </mat-icon>
              </div>
            </div>
          </div>
          <button mat-raised-button mat-button color="primary" (click)="goToCart()">
            {{language.checkout}}
          </button>
        </div>
      </div>
    </div>
    <div class="cart">
      <div class="dropdown">
        <mat-icon aria-hidden="false" aria-label="Navigation menu">
          person_outline
        </mat-icon>
        <span class="nav-label">
          {{ userLoggedIn ? email : language.login }}
        </span>
        <div class="dropdown-content" *ngIf="userLoggedIn">
          <div class="dropdown-item" (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Navigation menu">
              logout
            </mat-icon>
            <span class="nav-label">
              {{language.logout}}
            </span>
          </div>
        </div>
        <div class="dropdown-content user-dropdown" *ngIf="!userLoggedIn">
          <app-login-navigation></app-login-navigation>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="admin-nav nav-scroller" *ngIf="adminLoggedIn">
  <nav class="nav d-flex justify-content-around">
    <a class="p-2 text-muted" [routerLink]="['/addproduct']">{{language.addProduct}}</a>
    <a class="p-2 text-muted" [routerLink]="['/allproducts']">{{language.products}}</a>
    <a class="p-2 text-muted" [routerLink]="['/registration']">{{language.addUser}}</a>
    <a class="p-2 text-muted" [routerLink]="['/category']">{{language.categories}}</a>
    <a class="p-2 text-muted" [routerLink]="['/subcategory']">{{language.subcategories}}</a>
  </nav>
</div>
