<form role="form" (submit)="login()" [formGroup]="loginForm">
  <div class="form-group">
    <mat-form-field class="form-element">
      <input matInput placeholder="{{language.username}}" formControlName="username">
      <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
        {{language.required}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-element">
      <input type="password" matInput placeholder="{{language.password}}" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        {{language.required}}
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-button color="primary" type="submit" class="form-control mat-raised-button"
          [disabled]="loginForm.invalid">
    {{language.login}}
  </button>
  <div class="form-group">
    <mat-error class="formError"
               *ngIf="(loginForm.get('username')?.touched && loginForm.get('password')?.touched && loginForm.invalid) || badLogin">
      {{language.errorLogin}}
    </mat-error>
  </div>
</form>
