/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming';
@include mat-core();

$novko-theme: (
  50 : #e9f2e9,
  100 : #c7dfc7,
  200 : #a2caa2,
  300 : #7db57c,
  400 : #61a560,
  500 : #459544,
  600 : #3e8d3e,
  700 : #368235,
  800 : #2e782d,
  900 : #1f671f,
  A100 : #a6ffa6,
  A200 : #73ff73,
  A400 : #40ff40,
  A700 : #26ff26,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-theme-primary: mat-palette($novko-theme);
$custom-theme-accent: mat-palette($mat-light-green);
$custom-theme-warn: mat-palette($mat-red, 500, A200, A700);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.body-container {
  margin-top: -1.8%;
}

.img-fluid {
  width: 250px;
  padding: 20px 15px;
}

.my-snack-bar button {
  color: #459544;
}

.my-snack-bar-error button {
  color: #f21010;
}

.plusButton {
  float: right !important;
  margin-top: 2% !important;
  margin-right: 15% !important;
  margin-bottom: 2% !important;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.stretchedDialog .mat-dialog-container {
  padding: 0 !important;
}

.material-icons:hover {
  cursor: pointer;
}

.fa:hover, .cart-number:hover {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.p0 {
  padding: 0 !important;
}
