<app-navigation></app-navigation>
<div *ngIf="allSubcategories == undefined;else show" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<ng-template #show>
  <button class="plusButton" mat-mini-fab color="primary" (click)="openDialog()">+</button>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subcategory of allSubcategories">
            <th scope="row">{{subcategory.id}}</th>
            <td>{{subcategory.name}}</td>
            <td matTooltip="Edit subcategory">
              <i class="material-icons" (click)="edit(subcategory)">
                edit
              </i>
            </td>
            <td matTooltip="Delete subcategory">
              <i class="material-icons" (click)="delete(subcategory.name)">
                delete
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>