<app-navigation></app-navigation>
<button class="plusButton" mat-mini-fab color="primary" (click)="openDialog()">+</button>
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subcategory of allSubcategories">
          <th scope="row">{{subcategory.id}}</th>
          <td>{{subcategory.name}}</td>
          <td>
            <i class="material-icons" (click)="edit(subcategory)">
              edit
            </i>
          </td>
          <td>
            <i class="material-icons" (click)="delete(subcategory.name)">
              delete
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>