<app-navigation></app-navigation>
<div *ngIf="allCategories == undefined;else show" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<ng-template #show>
  <button class="plusButton" mat-mini-fab color="primary" (click)="openDialog()">+</button>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of allCategories">
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td matTooltip="Edit category">
              <i class="material-icons" (click)="edit(category.name)">
                edit
              </i>
            </td>
            <td matTooltip="Delete category">
              <i class="material-icons" (click)="delete(category.name)">
                delete
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
