<div class="container-fluid">
  <app-title [noMargin]="true" [title]="language.categories"
             [subtitle]="language.categoriesSubtitle"
             [additionalLinks]="additionalLinks"></app-title>
  <div class="table-responsive" *ngIf="categories.length !== 0">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">
          {{language.id}}
        </th>
        <th scope="col">
          {{language.name}}
        </th>
        <th scope="col">
          {{language.nameSr}}
        </th>
        <th scope="col">
          {{language.actions}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of categories">
        <th scope="row">
          {{category.id}}
        </th>
        <td>
          {{category.name}}
        </td>
        <td>
          {{category.nameSr}}
        </td>
        <td>
          <mat-icon matTooltip="{{language.edit}}" class="material-icons" (click)="edit(category)">
            edit
          </mat-icon>
          <mat-icon matTooltip="{{language.delete}}" class="material-icons" (click)="delete(category)">
            delete
          </mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-no-entries-list *ngIf="categories && categories.length === 0" [translationType]="noItemType"></app-no-entries-list>
</div>
