<div class="container-fluid">
  <app-title [noMargin]="true" [title]="language.subcategories"
             [subtitle]="language.subcategoriesSubtitle"
             [additionalLinks]="additionalLinks"></app-title>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">
          {{language.id}}
        </th>
        <th scope="col">
          {{language.name}}
        </th>
        <th scope="col">
          {{language.nameSr}}
        </th>
        <th scope="col">
          {{language.categoryName}}
        </th>
        <th scope="col">
          {{language.categoryNameSr}}
        </th>
        <th scope="col">
          {{language.actions}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subcategory of subcategories">
        <th scope="row">
          {{subcategory.id}}
        </th>
        <td>
          {{subcategory.name}}
        </td>
        <td>
          {{subcategory.nameSr}}
        </td>
        <td>
          {{subcategory.category?.name}}
        </td>
        <td>
          {{subcategory.category?.nameSr}}
        </td>
        <td>
          <mat-icon matTooltip="{{language.edit}}" class="material-icons" (click)="edit(subcategory)">
            edit
          </mat-icon>
          <mat-icon matTooltip="{{language.delete}}" class="material-icons" (click)="delete(subcategory)">
            delete
          </mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-no-entries-list *ngIf="subcategories && subcategories.length === 0" [translationType]="noItemType"></app-no-entries-list>
</div>
