<app-navigation></app-navigation>
<div class="container-fluid">
  <app-title [noMargin]="true" [title]="language.products"
             [subtitle]="'Below you can modify, delete and edit your products'"></app-title>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Brand</th>
        <th scope="col">Price in EUR</th>
        <th scope="col">Price in RSD</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">
          {{product.id}}
        </th>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.subcategory?.name}}
        </td>
        <td>
          {{product.brand}}
        </td>
        <td>
          {{product.amountEuro | number : '1.2-2'}}
        </td>
        <td>
          {{product.amountDin | number : '1.2-2'}}
        </td>
        <td>
          <i matTooltip="Edit product" class="material-icons" (click)="edit(product)">
            edit
          </i>
          <i matTooltip="Delete product" class="material-icons" (click)="delete(product)">
            delete
          </i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
