<app-navigation></app-navigation>
<div *ngIf="allProducts == undefined;else show" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<ng-template #show >
    <div class="container">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of allProducts">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>
                  <i class="material-icons" (click)="edit(product.name)">
                    edit
                  </i>
                </td>
                <td>
                  <i class="material-icons" (click)="delete(product.name)">
                    delete
                  </i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</ng-template>
